{% extends "base.html.twig" %}

{% block content %}
    <div class="text-center mt-4 pt-2 pb-4">
        <h1 class="h1-size">Top Artists</h1>
    </div>
    <div class="container wide">
        <div class="row">
            {% set id = 0 %}
            {% for artist in topartists.items %}
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 card-margin">
                    <div class="card card-cascade wider reverse hover-card" name="{{ id }}">
                        <div class="view view-cascade overlay card-height">
                            <img class="card-img-top" src="{{ artist.images[0].url}}">
                            <a href="{{artist.external_urls.spotify}}"><div class="mask rgba-white-slight waves-effect waves-light"></div></a>
                        </div>
                        <div class="card-body card-body-cascade bottom-card" id="hover-card-{{ id }}">
                            <h5 class="mb-1 card-main">{{  artist.name }}</h5>
                            <p class="text-muted mb-0 card-sub">
                                {{ artist.followers.total }} Followers
                            </p>
                        </div>
                    {% if artist.genres %}<span class="badge badge-pill badge-primary left-badge">{{ artist.genres[0] }}</span>{% endif %}
                        {#<span class="badge badge-pill badge-danger right-badge"><i class="fas fa-chevron-down mr-2"></i>1</span>#}
                    </div>
                </div>
                {% set id = id + 1 %}
            {% endfor %}
        </div>
    </div>
{#    <pre><code>#}
{#            {% for artist in topartists.items %}#}
{#                {{ dump(artist.genres) }}#}
{#            {% endfor %}#}

{#  </code></pre>#}
{% endblock %}