{% extends "base.html.twig" %}

{% block content %}

    <div class="text-center mt-4 pt-2 pb-4">
        <h1 class="h1-size">Playlist</h1>
    </div>
    <div class="container wide">
        <div class="row">
            <!--Panel-->
            <div class="card card-body mb-3 col-12">
                <div class="media d-block d-md-flex">
                    {% if playlist.images[0].url is defined %}
                        <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" style="width: 260px" src="{{playlist.images[0].url}}"
                             alt="Pochette">
                    {% else %}
                        <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" style="width: 260px" src="{{asset('build/images/pochette.png')}}"
                             alt="Pochette">
                    {% endif %}
                    <div class="media-body text-center text-md-left ml-md-3 ml-0 col-6">
                        <h2 class="h2-size">{{playlist.name}}</h2>
                        <a class="btn btn-primary btn-md" href="{{ playlist.external_urls.spotify }}" role="button">View playlist on spotify</a>
                    </div>
                    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0 ml-md-3 col-4">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm ml-3 w-75" id="search-title"  data-playlistId="{{playlist.id}}" data-url="{{ (path('searchTrack')) }}" data-url-add="{{ (path('addTrackToPlaylist')) }}" type="text" placeholder="Search"
                               aria-label="Search">
                    </form>
                </div>

            </div>
            <!--/.Panel-->
            <div class="card-body card">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Artiste</th>
                    <th scope="col">Album</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for track in playlist.tracks.items %}
                <tr data-id="{{track.track.id}}">
                    <td>{{track.track.name}}</td>
                    <td>{% set i = 0 %}{% for artist in track.track.artists %}{{artist.name}}{% if track.track.artists|length-1 > i %},  {% endif %}{% set i = i + 1 %}{% endfor %}</td>
                    <td>{{track.track.album.name}}</td>
                    <td> <i class="far fa-trash-alt delete-track" data-id="{{track.track.id}}" data-playlistId="{{playlist.id}}" data-url="{{ path('deleteTrackFromPlaylist')}}" style="color:#ff4444;cursor: pointer;"></i></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

        </div>
    </div>
{% endblock %}